.p-2-all {
  padding: 0.5rem;
}
.p-1-all {
  padding: 0.3rem;
}
.p-3-all {
  padding: 1rem;
  align-items: flex-end;
  justify-content: flex-end;
}

.position-right {
  align-items: flex-end;
}

.position-left {
  align-items: left;
}

.text {
  text-decoration: none;
}
